html {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

a {
    color: inherit;
}

.nav {
    padding: 4em;
}

.section-search {
    padding-left: 5em;
    padding-right: 5em;
}

#logo {
    text-decoration: none;
}

#searchbox {
    padding: 3px;
    width: 50%;
    border: none;
    font-size: 1em;
}

#search-button {
    border: none;
    padding: 3px;
    width: 50%;
    font-size: 1em;
}
