<!DOCTYPE html>
<html>
	<head>
		<title>FEXR</title>

		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="static/css/styles.css" media="screen"/>
		<script src="static/js/post.js" type="text/javascript"></script>

	</head>
	<body>
		<div class="nav">
			<div class="nav-container">
			  <h1><a href="/" id="logo">fexr</a></h1>
			</div>
		</div>

		<div class="section-search">
		  <form id="input">
		  	<input type="text" id="searchbox" placeholder="Currency Code">
				<br>
		  	<input type="button" style="curor:pointer" id="search-button" value="Get Rate">
		  </form>

			<br>
			<p id="rate-response">1000.00</p>

		</div>
	</body>
</html>
